body {
    background: #E0EFF1;
    font-family:sans-serif;
}

.add-note {
    background-color: #fdfdfd;
    border: 1px solid #ccc;
}

.notes {
    margin: 0.5em;
    padding-left: 0;

    max-width: 10em;
    list-style: none;
}

.note {
    margin-bottom: 0.5em;
    padding: 0.5em;

    background-color: #fdfdfd;
    box-shadow: 0 0 0.3em 0.03em rgba(0,0,0,0.3);
}

.note:hover{
    box-shadow: 0 0 0.3em 0.03em rgba(0,0,0,0.3);
    transition: 0.6s;
}

.note .task{
    /* force to use inline-block so that it gets min height */
    display: inline-block;
}

.note .delete-note {
    float: right;
    padding: 0;
    background-color: #fdfdfd;
    border:none ;
    cursor:pointer;
    visibility: hidden;
}

.note:hover .delete-note {
    visibility: visible;
}


.categ-label{
    cursor:pointer;
}




/**********************/

.numberCircle {
    display:inline-block;
    line-height:0px;

    border-radius:50%;
    border:3px solid;
    border-color: transparent;
    background-color: #cccccc;
    color: #fdfdfd;

    font-size:36px;
    font-family: "Courier New";
    cursor:pointer;
}
.numberCircle:hover {
    display:inline-block;
    line-height:0px;

    border-radius:50%;
    border:3px solid;
    border-color: transparent;
    background-color: #cccccc;
    color: #fdfdfd;

    font-size:36px;
    font-family: "Courier New";
    box-shadow: 0 0 0.3em 0.03em rgba(0,0,0,0.6);

}


.numberCircle span {
    display:inline-block;

    padding-top:50%;
    padding-bottom:50%;

    margin-left:8px;
    margin-right:7px;
}

.budgetCard{
    background-color: #FFFFFF;
}